/**
 * README
 * You need to complete the socket url with the full path to socket.io.js, for example
 * If I host it on http://live-feeds.com/socket.io/socket.io.js
 * I'd write something like socket: "http://live-feeds.com/socket.io/socket.io"
 * No, is not an error that I did not put the .js in the end, requirejs does that for us
 */
require.config({
	baseUrl : "scripts/js",
	paths : {
		bootstrap: "bower_components/bootstrap/dist/js/bootstrap",
		jQuery: "bower_components/jquery/dist/jquery.min",
		backbone: "bower_components/backbone/backbone",
		underscore: "bower_components/underscore/underscore",
		jQueryUi: "bower_components/jqueryui/ui/minified/jquery-ui.min",
		socket: "http://complete/socket.io/socket.io",
		json_human: "bower_components/json-human/src/json.human",
		crel: "bower_components/json-human/lib/crel",
		text: "bower_components/requirejs-text/text",
		templates: "../templates",
    sprintf: 'bower_components/sprintf/dist/sprintf.min',
    client_configuration: "configuration/site"
	},
	shim : {
		bootstrap : {
			deps : [ "jQuery" ],
			exports : 'Bootstrap'
		},
		jQuery : {
			exports : '$'
		},
		jQueryUi : {
			deps : [ "jQuery" ]
		},
		backbone : {
			deps : [ "underscore" ]
		},
		underscore : {
			exports : '_'
		},
		socketio : {
			exports : 'io'
		},
		crel : {
			exports : 'crel'
		},
		json_human : {
			deps : [ 'crel' ],
			exports : 'JsonHuman'
		}
	}
});
requirejs([ 'jQuery', 'bootstrap', 'backbone', 'jQueryUi', 'router',
		'ViewCollection' ], function($, bootstrap, backbone, jqueryUi, Router,
		ViewCollection) {
	Router.initialize({
		appView : new ViewCollection({
			el : $('#main-canvas')
		})
	});
});
