<div class="jumbotron">
	<h1>Live monitor</h1>
	<p>Click one button to obtain notifications</p>
	<select id="channel-list"></select>
	<button type="button" class="btn btn-primary" id="get-channels">Get your channels</button>
	<button type="button" class="btn" id="follow-channel">Follow that channel</button>
	<!--button type="button" class="btn btn-primary" id="perseus-feed"
		data-name="Perseus">Perseus</button-->
	<button type="button" class="btn btn-info" id="clean-feed">Clean table</button>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Feed</th>
			<th id="target-feed"></th>
		</tr>
	</thead>
	<tbody id="notification-section"></tbody>
</table>
